body {
  font-family: Inter;
  font-size: 15px;
  color: #313735;
  background-color: #ffffff;
  margin: 0px;
}

#topo {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 24px;
}

#topo img {
  width: 120px;
  margin-right: auto;
}

#topo a {
  color: #4b6e65;
  font-size: 17px;
}

#principal {
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 150px;
}

.texto-acima-do-titulo {
  color: #3a564f;
  font-size: 12px;
}

h1 {
  font-size: 64px;
  color: #0c110f;
  margin-top: 20px;
  margin-bottom: 20px;
}

#texto-principal p {
  font-size: 17px;
  margin-bottom: 30px;

}


#principal img {
  width: 600px;
  margin-top: 40px;
}

#principal a {
  color: #4b6e65;
  font-size: 17px;
  margin-right: 24px;
}

.principal-paragrafo {
  margin-right: 150px;
}

#publicos {
  padding: 150px 40px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

#publicos p {
  font-size: 11.5px;
}

.publico {
  margin-bottom: 20px;
}

.publico h2 {
  font-size: 17px;
  color: #3a564f;
  margin-bottom: 5px;
}

.publico p {
  font-size: 13.5px;
  margin-top: 0px;
}

#campos-obrigatorios {
  background-color: #22332f;
  color: #afc1bd;
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
}

#campos-obrigatorios h2 {
  font-size: 38px;
  color: #eef2f1;
}

#campos-obrigatorios p {
  font-size: 15px;
}

#campos-obrigatorios li {
  color: #eef2f1;
  font-size: 14px;
  margin-bottom: 8px;
}
#campos-obrigatorios ul {
  color: #eef2f1;
  font-size: 14px;
  margin-bottom: 8px;
  
}
#lista-campos {
  display: flex;
  gap: 40px;
}